@import "../../defaultStyles/colors";

.event-title {
  font-size: 36px;
  text-align: center;
  color: $alt-color;
  font-weight: 400;
}

.event-image-container {
  width: 400px;
  display: flex;
  justify-content: center;
}

.event-card-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-text {
  font-size: 18px;
  color: $light-color;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .event-image-container {
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .event-card-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
